body{
    border: 1px solid rebeccapurple;
    margin: 140px 480px;
}
.row{
    display:grid;
    align-items: center;
    justify-content: center;
}

#image{
    display:grid;
    align-items: center;
    justify-content: center;
}

#next{
     /* display:flex;
    justify-content: center; */
    margin-left: 157px;
    font-size: medium;
    font-weight: 700;
    color: crimson;
    background-color: bisque;
    border-radius: 3px;
    padding: 2px 8px;
    margin-bottom: 45px;

}
#profile{
    display: grid;
    align-items: center;
    justify-content: center;
}